.err{
    color: red;
    font-size: 50%;
    opacity: 0;
}

.friend{

    cursor: pointer;
    color: aqua;

}

.self-message{

    color:blue;
}

.foreign-message{
    color: gray;
}


html{
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(90deg, #0f0c1f, #221535, #16162d);

    --light-purple: #bc0066;
    --lighter-purple: #ff008a;
    --dark-purple:#221535;

    --even-lighter-purple: #ff53b1;

    --darker-than-black:#0f0c1f;

    -webkit-transform: translateZ(0px);

}



.login-container{
    display: flex;
    flex-direction: column;

    width: 40vw;
    height:60vh;

    margin-left: 30vw;
    margin-top: 10vh;

    justify-content: space-evenly;
    /*align-items: center;*/

    animation-fill-mode: forwards;
}

.register-container{
    display: flex;
    flex-direction: column;

    width: 40vw;
    height:80vh;

    margin-left: 30vw;
    margin-top: 10vh;

    justify-content: space-evenly;
    /*align-items: center;*/

    animation-fill-mode: forwards;
}

.login-field-height{
    max-height:15%;
}
.register-field-height{
    max-height:12%;
}

.login-title-height{
    max-height:20%;
}

.register-title-height{
    max-height:15%;
}

.title{

    font-size: 10vh;

    width:100%;
    text-shadow:  0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);


    display: flex;
}

.text{
    margin:auto;
    color: var(--light-purple);
}


.item{
    position: relative;

    width:100%;

    flex-grow: 1;

    border:1px solid var(--light-purple);
    box-shadow:  0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);


}

.abs{
    position:absolute;
    margin:100px;

}

.inp{
    position: absolute;
    top:0;
    left:0;

    width:100%;
    height: 100%;

    border:none;
    outline:none;
    background: #d3d3d3;


    padding-left: 27%;

    box-sizing: border-box;
    font-size:5vh;

    font-family: 'Rajdhani', sans-serif;



}


.label{
    z-index: 1;
    position: absolute;
    width:100%;
    background: var(--dark-purple);

    height: 100%;

    transition: width .6s, background .8s;

    text-align: center;


    color:var(--light-purple);

    box-sizing: border-box;
    box-shadow:  0 2px 10px rgba(0,0,0,0.16), 10px 3px 6px rgba(0,0,0,0.1);

    font-size:5vh;

    display: flex;

    justify-content: center;
    align-items: center;


}

.label:hover{
    width: 25%;

}

.inp:hover + div{
    width: 25%;
}

.inp:focus + div{
    width: 25%;
    background: var(--light-purple);
    color:white;

}
/*
.label:before{
	margin:auto;
	color: var(--light-purple);
	content: 'User';
	transition: color .8s;
}
*/
.inp:focus + div:before{

    color:var(--dark-purple);

}


.abs2{

    position:absolute;
    margin:100px;
    top:250px;

    z-index: -1;


}

.button{
    border-radius: 4px;

    border: 2px solid var(--light-purple);

    width:30%;


    position: relative;
    cursor:pointer;

    font-size: 150%;

    transition: color .5s, border-color .5s;

    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);

    display: flex;

    color: var(--light-purple);

    justify-content: center;
    align-items: center;




}

.button:before{
    z-index: -2;

    position:absolute;
    width: 10%;
    height: 100%;
    left: 45%;
    content: '.';
    color: transparent;

    background: var(--light-purple);

    opacity: 0;

    transition: width .5s, left .5s, opacity .5s;
}


.button:after{

    margin:auto;
    color: var(--light-purple);
    transition: color .5s;


}

.button:hover:after{
    color:var(--dark-purple);

}

.button:hover:before{

    width: 100%;
    left:0;
    opacity: 1;

    /*background: coral;*/
}


.button:hover{
    border-color: var(--light-purple);
    color: var(--dark-purple);
}


.buttons{
    height: 15%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;


}


/*///////////////////////////////////////////////////////////////////*/



.main-container{

    display:flex;
    width:96vw;
    height: 96vh;

    position: absolute;

    /*border: 1px solid white;*/
    left: 2vw;
    top: 2vh;

    justify-content: space-evenly;
    /*align-items: center;*/

    z-index: -3;

}

.friends{
    max-width: 25%;
    flex-grow: 1;

    border-radius: 10px 0 0 10px;

    background: rgba(52,23,73,0.5);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.chat{
    flex-grow: 2;
    max-width: 70%;
    /*border:1px solid white;*/
    border-radius: 0 10px 10px 0;

    /*rgba(52,23,73,0.5);*/
    background-image: url("purple5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display:flex;
    flex-direction: column;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    z-index: -2;

}

.header{
    border-radius: 0 10px 0 0;
    border:2px solid var(--darker-than-black);
    flex-grow: 1;
    background: rgba(0,0,0,0.5);
    border-bottom: none;
}

.message-bar{
    border:2px solid var(--darker-than-black);
    flex-grow: 10;
    max-height: 70%;
    background: rgba(0,0,0,0.3);

    display:grid;
    /*flex-direction: column-reverse;*/
    /*align-items: flex-end;*/
    /*justify-content: center;*/

    overflow: auto;

}



.message{

    font-size: 150%;
    width:98%;

    display:flex;
    align-items: center;
    justify-content: flex-end;


    margin:1%;

    box-sizing: border-box;
}


.outer{
    align-self: flex-start;
    display:flex;
    flex-direction: row-reverse;
    /*justify-content: flex-end;*/
}


.message-avatar{

    max-width:20%;
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.inner-time{
    color:var(--lighter-purple);
    text-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.inner-avatar{
    height: 7vh;
    margin:auto;
    border: 1px solid var(--darker-than-black);
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    margin-left: 5px;
    margin-right: 5px;

}

.message-text{

    display:flex;
    max-width:60%;

    border-radius: 10px 10px 0 10px;
    background: var(--dark-purple);
    border:1px solid var(--darker-than-black);
    padding:5px;
    box-sizing: border-box;

    color: var(--light-purple);

    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;



}


.outer-text{
    background: none;
    border:1px solid var(--lighter-purple);
    color: #e8e8e8;
    border-radius: 10px 10px 10px 0;
}


.field{
    border:2px solid var(--darker-than-black);
    flex-grow: 2;
    max-height: 15%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background: rgba(0,0,0,0.5);
    border-top: none;

    border-radius: 0 0 10px 0;

    z-index: -1;

}

.area{
    resize: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vh;

    background: #221535;
    outline: none;
    border-color: transparent;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);

    border-radius: 5px;
    padding: 7px;

    color: var(--light-purple);
    position: relative;

    transition: border-color .5s, color .5s;
}

.area::placeholder{
    color: #94004a;
    transition: color .5s;
}

.area:focus::placeholder{
    color: var(--lighter-purple);
}

.area:focus{

    border-color:var(--lighter-purple);
    color:var(--lighter-purple);

}


.send-button{

    width:10%;
    height: 80%;
    border:2px solid var(--lighter-purple);

    border-radius: 5px;

    font-size:230%;
    text-align: center;
    color:white;

    position: relative;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);

}

.send-button:after{

    z-index: 1;

    content:"Send";
    font-weight: bold;
    margin:auto;
    color: var(--lighter-purple);
    transition: color .5s;



}
.send-button:hover:after{
    color: var(--dark-purple);
}

.send-button:before{

    z-index: -1;

    position:absolute;
    width: 10%;
    height: 100%;
    left: 45%;
    content: '.';
    color: transparent;

    background: var(--lighter-purple);

    opacity: 0;

    transition: width .5s, left .5s, opacity .5s;
    border-radius: 5px;
}
.send-button:hover:before {

    width: 100%;
    left: 0;
    opacity: 1;
}


.search{
    color: var(--light-purple);
    max-height: 6%;
    width: 90%;
    flex-grow: 1;

    border-radius: 5px;
    position:relative;
}

.username{
    font-size: 200%;
    color: var(--lighter-purple);
}

.conversations{
    height: 90%;
    width: 100%;



    display:flex;
    flex-direction: column;
    /*justify-content:space-evenly;*/

    overflow-y: scroll;

}

.conversations::-webkit-scrollbar {
    width: 10px;
    transition: background .4s

}

/* Track */
.conversations::-webkit-scrollbar-track {
    background: #0f0c1f;
    border-radius: 10px;


}

/* Handle */
.conversations::-webkit-scrollbar-thumb {
    background: #6b0035;
    border-radius: 10px;


}

/* Handle on hover */
.conversations::-webkit-scrollbar-thumb:hover {
    background: var(--light-purple);
}


.friend{
    /*flex-grow: 1;*/

    max-height: 13%;
    min-height: 13%;


    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;
    box-sizing: border-box;




    transition: all .4s;
}

.friend:after{

    left:0;
    width:0;
    height: 100%;
    background: #300093;/*rgba(0,0,0,0.5);*/

    content: '.';

    position: absolute;
    color:transparent;

    z-index: -1;

    transition: width .4s;
}

.friend:hover:after{
    width: 100%;
}

.friend:hover{



}

.image{

    height: 100%;
    display: flex;

    overflow: hidden;

    border-radius: 10px;
    border:1px solid var(--light-purple);

}

.info{
    width: 70%;


    height: 8.5vh;

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.name{

    /*flex-grow: 1;*/
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-size: 2vh;

    color: var(--light-purple);
}

.last-message{

    color: var(--lighter-purple);
    /*flex-grow: 1;*/
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vh;
}

.avatar{
    height: 7vh;
    margin:auto;
}



.focused{

    border-left: 3px solid var(--lighter-purple);

}


.search-inp{

    position: absolute;
    box-sizing: border-box;
    padding-left: 20%;
    height: 100%;


    background: none;
    outline: none;
    /*border:none;*/
    width:100%;

    font-family: 'Rajdhani', sans-serif;
    font-size: 120%;

    border: 1px solid var(--light-purple);

    transition: all .5s;
}



.search-inp::placeholder{
    color: var(--light-purple);
    transition: all .6s;
}

.search-inp:focus + div{
    color:var(--lighter-purple);
}

.search-inp:focus::placeholder{
    color: var(--lighter-purple);
}

.search-inp:focus{
    color:var(--lighter-purple);
    border-color: var(--lighter-purple);
    background: rgba(0,0,0,0.1);
}

.icon{
    position: absolute;

    height: 100%;
    font-size:65%;
    width: 20%;

    display:flex;
    transition: all .6s;
}

.inner-icon{
    margin:auto;

}